body {
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(30, 38%, 92%);
  font-size: 15px;
}

.container {
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  margin-top: 150px;
  width: 600px;
  border-radius: 15px;
}

.image {
  max-width: 50%;
  margin: 0;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.perfume {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-size: 15px;
}

.product {
  display: flex;
  flex-flow: column wrap;
  margin-top: 15px;
  margin-left: 25px;
  width: 45%;
  color: hsl(228, 12%, 48%);
}

.product h1 {
  max-width: 200px;
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
}

.product p {
  text-align: match-parent;
  max-width: 250px;
  line-height: 1.8;
}

.price {
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
  font-family: "Fraunces", serif;
}

.price h1 {
  color: hsl(158, 36%, 37%);
}

.discount {
  margin-top: 30px;
  text-decoration-line: line-through;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
}

.add-to-cart {
  background-color: hsl(158, 36%, 37%);
  padding: 15px 25px;
  width: 75%;
  margin-bottom: 25px;
  border-radius: 7px;
  color: white;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: hsl(158, 36%, 25%);
}

.add-to-cart:active {
  background-color: hsl(228, 12%, 48%);
}

.add-to-cart img {
  margin-right: 5px;
}

.attribution {
  text-align: center;
  margin: 50px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: hsl(212, 21%, 14%);
}

.attribution a {
  text-decoration: none;
  color: hsl(212, 21%, 14%);
}

.attribution a:hover {
  text-decoration: underline;
  color: hsl(158, 36%, 37%);
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
    flex-flow: column nowrap;
    margin-top: 25px;
    height: 25%;
  }
  .image {
    background-image: url(images/image-product-mobile.jpg);
    height: 250px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    max-width: 100%;
  }
  .product {
    width: 100%;
    margin-top: 5px;
  }

  .product h1 {
    margin-right: 0;
    margin-top: 0;
    max-width: 300px;
  }

  .product p {
    max-width: 300px;
    margin-top: 0;
  }
}
